[submodule "services/teachme-student-service"]
	path = services/teachme-student-service
	url = https://github.com/TeachMe-CloudUS/teachme-student-service.git
[submodule "services/teachme-frontend"]
	path = services/teachme-frontend
	url = https://github.com/TeachMe-CloudUS/teachme-frontend.git
[submodule "services/teachme-api-gateway"]
	path = services/teachme-api-gateway
	url = https://github.com/TeachMe-CloudUS/teachme-api-gateway.git
[submodule "services/teachme-ratings-service"]
	path = services/teachme-ratings-service
	url = https://github.com/TeachMe-CloudUS/teachme-ratings-service.git
[submodule "services/teachme-auth-service"]
	path = services/teachme-auth-service
	url = https://github.com/TeachMe-CloudUS/teachme-auth-service.git
[submodule "services/teachme-course-service"]
	path = services/teachme-course-service
	url = https://github.com/TeachMe-CloudUS/teachme-course-service.git
[submodule "services/teachme-forum-service"]
	path = services/teachme-forum-service
	url = https://github.com/TeachMe-CloudUS/teachme-forummessage-service
[submodule "services/teachme-certification-service"]
	path = services/teachme-certification-service
	url = https://github.com/TeachMe-CloudUS/teachme-certification-service.git